@model string
@if (!String.IsNullOrEmpty(Model))
{
    if(Model.StartsWith("Error")){
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            @Model
        </div>
    }
    else{
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <h2 class="fw-bold mb-5 mt-5 text-center " style="color: #FF6F00">NHẤN VÀO ĐÂY ĐỂ TẢI KEY XUỐNG</h2>
            <hr />
            <a class="text-center mb-4" styles="underline: none; text-decoration: none; border-radius: 5px; border: 3px solid #FF6F00;" href="data:text/plain;charset=utf-8,@Model" download="Key.txt">Tải key</a>
        </div>
    }
}

