@page "/About"


<!-- Landing-Body Grid-->
<div class="features-icons">
    <div class="container" style="background: #ffffff;">
        <h2 class="text-center" style="color: #6f1802; font-weight: 700;">CONTACT FOR ME </h2>
        <hr/>
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">  
            <h3 class="mb-5" style="color: rgb(51, 80, 98); font-weight: 700;">
                <img src="fa-hcmus.png" alt="student at HCMUS" height="48" width="48">
                My fullname is Vu Nguyen Nam Cao | ID 20127670 
            </h3>
        </div>
        <h4 style="color: rgb(5, 23, 72); font-weight: 500;"> I'm currently studying at HCMUS as a third-year student 
            with major in <strong style="color: #FF6F00;">Computer Network and Telecomunications.</strong>
        </h4>
    </div>
    <hr/>
</div>