@page "/Contact"


<!-- Landing-Body Grid-->
<section class="features-icons bg-inherit text-center">
    <div class="container">
        <h2 class="text-center" style="color: #6f1802; font-weight: 700;">CONTACT FOR ME </h2>
        <hr/>
        <div class="row">
            <!-- Facebook Account -->
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com/NoNameNo1F" role="button">
                        <img src="fa-facebook.png" alt="facebook account" height="48" width="48">
                    </a>
                    <h3 style="color: rgb(42, 99, 255); font-weight: 700;">Facebook</h3>   
                </div>
            </div> 
        
            <!-- Linkedin Account -->
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3 style="color: rgb(5, 5, 201); font-weight: 700;">Linkedin</h3>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com/in/vu-nguyen-a61a83235" role="button">
                        <img src="fa-linkedin.png" alt="linkedin account" height="48" width="48">
                    </a>
                </div>
            </div>
            <!-- Gmail Account -->
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=NoNameNo1F@gmail.com&tf=1" role="button">
                        <img src="fa-gmail.png" alt="gmail account" height="48" width="48">
                    </a>
                    <h3 style="color: rgb(224, 36, 36); font-weight: 700;">Gmail</h3>
                </div>
            </div>
            <!-- Github Account -->
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3 style="color: rgb(0, 0, 0); font-weight: 700;">Github</h3>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/NoNameNo1F" role="button">
                        <img src="fa-github.png" alt="github account" height="48" width="48">
                    </a>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</section>