@page "/404NotFound"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<h1 class="text-center text-danger">
    <strong>404 Not Found</strong>
    Không tìm thấy tài nguyên truy cập. Nhấn vào đây để quay lại HomePage
</h1>

<h1 class="text-center mt-5">
    <a asp-page="/Home/Home" style="text-decoration: none; color: orange">Quay lại</a>
</h1>

