@page "/Privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="text-center text-danger">Đồ án được thực hiện bởi Nguyễn Cao Nam Vũ </h1>
<h1 class="text-center" style="font-weight: 700; color: orange;">Vui lòng không clone lại dưới mọi hình thức!!! </h1>

