@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
 <!-- Landing-Head-->
<div class="container">
    <section class="containerHeader mb-5">
        <div class="container position-relative">
            <div class="row justify-content-center"></div>
                <div class="col-12">
                    <div class="header-text">
                        <h1 class="header-text-h1" >Cryptography</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Landing-Body Grid-->
    
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0 mb-5 pt-2 text-center" style="color: #eeeeee; background: #240700;">
                <h2>Mô hình tổng quát</h2>
                <div class=" showcase-img" style="background: url('bg-showcase.png') no-repeat center center; background-size: 100% 100%;"></div>

                </div>
            </div>
            <div class="row g-0" style="background: #240700;">
                <div class="col-lg-6 order-lg-2 showcase-img" style="background: url('bg-encrypt.jpg') no-repeat center center; background-size: 100% 100%;"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text" style=" color: #d76c47">
                    <h2>Cơ chế mã hóa </h2>
                    <p class="lead mb-0">Chọn file cần mã hóa , Hệ thống sẽ mã hóa file bằng AESKey và sau đó , sẽ dùng PublicKey để mã hóa AESKey này thành Kx - cùng với đó là lưu lại giá trị Hash-1 của PrivateKey</p>
                </div>
            </div>
            <div class="row g-0" style="background: #240700;">
                @* <div class="col-lg-6 showcase-img" style="background-color: black"></div> *@
                <div class="col-lg-6 showcase-img" style="background: url('bg-decrypt.jpg') no-repeat center center; background-size: 100% 100%;"></div>
                <div class="col-lg-6 my-auto showcase-text" style=" color: #d76c47">
                    <h2>Cơ chế giải mã</h2>
                    <p class="lead mb-0">Để giải mã bạn phải cần chọn file bị mã và PrivateKey của file. Hệ thống sẽ thực hiện đọc PrivateKey vào và so sánh với Key chứa trong Hệ thống - Nếu khớp Khóa thì sẽ tiến hành giải mã Khóa Kx trong hệ thống 
                        và dùng Ks để giải mã tập tin.
                    </p>
                </div>
            </div>
        </div>
    </section>
 </div>
 
